@model MVC5.Models.Product
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*強型別傳值*@
Model.ProductName = @Model.ProductName

<br />

@{

    var product = ViewBag.Product as MVC5.Models.Product;

}

ViewBag.Product = @product.ProductName
<br />

@{
    var product2 = ViewBag.product2 as MVC5.Models.Product;

}
@*強型別傳值 須轉型↑*@
ViewBaf.Product222asdasdasd2 = @product2.ProductName